 No. 1 Declare an empty list

In [ ]:
empty_list = []

 No. 2 Declare a list with more than 5 items

In [ ]:
my_list = [1, 2, 'apple', 3.14, True, "banana", 7, 'orange']

 No. 3 Find the length of your list

In [ ]:
my_list = [1, 2, 'apple', 3.14, True, "banana", 7, 'orange']

length_of_list = len(my_list)

print("The length of the list is:", length_of_list)

 No. 4 Get the first item, the middle item and the last item of the list

In [ ]:
my_list = [1, 2, 'apple', 3.14, True, "banana", 7, 'orange']

# Get the first item
first_item = my_list[0]

# Get the middle item
middle_item_index = len(my_list) // 2
middle_item = my_list[middle_item_index]

# Get the last item
last_item = my_list[-1]

print("First item:", first_item)
print("Middle item:", middle_item)
print("Last item:", last_item)

 No. 5 Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [ ]:
mixed_data_types = ["Your Name", 25, 1.75, "Married", "123 Main Street, Cityville"]

# Accessing elements in the list
name = mixed_data_types[0]
age = mixed_data_types[1]
height = mixed_data_types[2]
marital_status = mixed_data_types[3]
address = mixed_data_types[4]

# Displaying the elements
print("Name:", name)
print("Age:", age)
print("Height:", height)
print("Marital Status:", marital_status)
print("Address:", address)

 No. 6 Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [ ]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

# Displaying the list
print("List of IT Companies:", it_companies)

 No. 7 Print the list using print()

In [ ]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

# Displaying the list
print("List of IT Companies:", it_companies)

 No. 8 Print the number of companies in the list

In [ ]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

# Find the number of companies in the list
num_companies = len(it_companies)

# Displaying the number of companies
print("Number of IT Companies:", num_companies)

 No. 9 Print the first, middle and last company

In [ ]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

# Get the first company
first_company = it_companies[0]

# Get the middle company
middle_company_index = len(it_companies) // 2
middle_company = it_companies[middle_company_index]

# Get the last company
last_company = it_companies[-1]

# Displaying the companies
print("First Company:", first_company)
print("Middle Company:", middle_company)
print("Last Company:", last_company)

 No. 10 Print the list after modifying one of the companies

In [ ]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

# Modify one of the companies
it_companies[4] = "Intel"

# Displaying the modified list
print("Updated List of IT Companies:", it_companies)

 No. 11 Add an IT company to it_companies

In [ ]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "Intel", "Oracle", "Amazon"]

# Add a new IT company to the end of the list
it_companies.append("Cisco")

# Displaying the updated list
print("Updated List of IT Companies:", it_companies)

 No. 12 Insert an IT company in the middle of the companies list

In [ ]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "Intel", "Oracle", "Amazon"]

# Insert a new IT company in the middle of the list
new_company = "Dell"
middle_index = len(it_companies) // 2
it_companies.insert(middle_index, new_company)

# Displaying the updated list
print("Updated List of IT Companies:", it_companies)

 No. 13 Change one of the it_companies names to uppercase (IBM excluded!)

In [ ]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "Intel", "Oracle", "Amazon"]

# Change the name of one IT company to uppercase (excluding "IBM")
company_to_change = "Google"
index_to_change = it_companies.index(company_to_change)

# Check if the company is not "IBM" before changing to uppercase
if company_to_change != "IBM":
    it_companies[index_to_change] = company_to_change.upper()

# Displaying the updated list
print("Updated List of IT Companies:", it_companies)

 No. 14 Join the it_companies with a string '#;

In [ ]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "Intel", "Oracle", "Amazon"]

# Join the IT companies with the specified separator
joined_companies = '#; '.join(it_companies)

# Displaying the joined string
print("Joined IT Companies:", joined_companies)

 No. 15 Check if a certain company exists in the it_companies list.

In [ ]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "Intel", "Oracle", "Amazon"]

# Check if a certain company exists in the list
company_to_check = "Microsoft"
if company_to_check in it_companies:
    print(f"{company_to_check} exists in the list.")
else:
    print(f"{company_to_check} does not exist in the list.")

 No. 16 Sort the list using sort() method

In [ ]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "Intel", "Oracle", "Amazon"]

# Sort the IT companies list
it_companies.sort()

# Displaying the sorted list
print("Sorted IT Companies:", it_companies)

 No. 17 Reverse the list in descending order using reverse() method

In [ ]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "Intel", "Oracle", "Amazon"]

# Sort the IT companies list in descending order
it_companies.sort(reverse=True)

# Reverse the sorted list
it_companies.reverse()

# Displaying the reversed list
print("Reversed IT Companies (Descending):", it_companies)

 No. 18 Slice out the first 3 companies from the list

In [ ]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "Intel", "Oracle", "Amazon"]

# Slice out the first 3 companies
first_three_companies = it_companies[:3]

# Displaying the sliced list
print("First Three IT Companies:", first_three_companies)

 No. 19 Slice out the last 3 companies from the list

In [ ]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "Intel", "Oracle", "Amazon"]

# Slice out the last 3 companies
last_three_companies = it_companies[-3:]

# Displaying the sliced list
print("Last Three IT Companies:", last_three_companies)

 No. 20 Slice out the middle IT company or companies from the list

In [ ]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "Intel", "Oracle", "Amazon"]

# Determine the middle indices
middle_index = len(it_companies) // 2

# Slice out the middle company or companies
if len(it_companies) % 2 == 0:
    # If the list has an even number of elements, slice out two companies
    middle_companies = it_companies[middle_index - 1 : middle_index + 1]
else:
    # If the list has an odd number of elements, slice out one company
    middle_companies = [it_companies[middle_index]]

# Displaying the sliced list
print("Middle IT Company or Companies:", middle_companies)

 No. 21 Remove the first IT company from the list

In [ ]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "Intel", "Oracle", "Amazon"]

# Remove the first IT company using pop()
if it_companies:
    first_company_removed = it_companies.pop(0)
    print("First IT Company Removed (using pop):", first_company_removed)
else:
    print("The list is empty.")

# Displaying the updated list
print("Updated IT Companies List:", it_companies)

 No. 22 Remove the middle IT company or companies from the list

In [ ]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "Intel", "Oracle", "Amazon"]

# Determine the middle indices
middle_index = len(it_companies) // 2

# Remove the middle company or companies
if len(it_companies) % 2 == 0:
    # If the list has an even number of elements, remove two companies
    removed_companies = it_companies[middle_index - 1 : middle_index + 1]
    it_companies = it_companies[:middle_index - 1] + it_companies[middle_index + 1:]
else:
    # If the list has an odd number of elements, remove one company
    removed_companies = [it_companies[middle_index]]
    it_companies = it_companies[:middle_index] + it_companies[middle_index + 1:]

# Displaying the removed company or companies and the updated list
print("Middle IT Company or Companies Removed:", removed_companies)
print("Updated IT Companies List:", it_companies)

 No. 23 Remove the last IT company from the list

In [ ]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "Intel", "Oracle", "Amazon"]

# Remove the last IT company using list slicing
if it_companies:
    it_companies = it_companies[:-1]
    print("Last IT Company Removed (using slicing):", it_companies[-1])
else:
    print("The list is empty.")

# Displaying the updated list
print("Updated IT Companies List:", it_companies)

 No. 24 Remove all IT companies from the list

In [ ]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "Intel", "Oracle", "Amazon"]

# Clear the list to remove all IT companies
it_companies.clear()

# Displaying the updated list
print("Updated IT Companies List:", it_companies)

 No. 25 Destroy the IT companies list

In [ ]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "Intel", "Oracle", "Amazon"]

# Displaying the original list
print("Original IT Companies List:", it_companies)

# Destroying the list (removing the reference)
del it_companies

# Attempting to display the list after it's been "destroyed" will result in an error
# print("Updated IT Companies List:", it_companies)  # Uncommenting this line will raise an error

 No. 26 Join the following lists:

 front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
 back_end = ['Node','Express', 'MongoDB']

In [ ]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node', 'Express', 'MongoDB']

# Joining the lists using the + operator
full_stack = front_end + back_end

# Displaying the joined list
print("Full Stack Development Technologies:", full_stack)

 No. 27 After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack. Then insert Python and SQL after Redux.

In [ ]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node', 'Express', 'MongoDB']

# Joining the lists using the + operator
full_stack = front_end + back_end

# Displaying the original joined list
print("Original Full Stack Development Technologies:", full_stack)

# Copying the joined list to a new variable
full_stack_copy = full_stack.copy()

# Inserting "Python" and "SQL" after "Redux"
index_of_redux = full_stack_copy.index('Redux')
full_stack_copy.insert(index_of_redux + 1, 'Python')
full_stack_copy.insert(index_of_redux + 2, 'SQL')

# Displaying the updated list
print("Updated Full Stack Development Technologies:", full_stack_copy)

 Exercises: Level 2

 1. The following is a list of 10 students ages:
 ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
    Sort the list and find the min and max age
    Add the min age and the max age again to the list
    Find the median age (one middle item or two middle items divided by two)
    Find the average age (sum of all items divided by their number )
    Find the range of the ages (max minus min)
 Compare the value of (min - average) and (max - average), use abs() method
 1. Find the middle country(ies) in the countries list
 2. Divide the countries list into two equal lists if it is even if not one more country for the first half.
 3. ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.

In [ ]:
# List of ages
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sort the list
ages.sort()

# Find the min and max age
min_age = min(ages)
max_age = max(ages)

# Add min and max age to the list
ages.extend([min_age, max_age])

# Find the median age
middle_index = len(ages) // 2
median_age = (ages[middle_index] + ages[middle_index - 1]) / 2 if len(ages) % 2 == 0 else ages[middle_index]

# Find the average age
average_age = sum(ages) / len(ages)

# Find the range of ages
age_range = max_age - min_age

# Compare (min - average) and (max - average)
min_average_diff = abs(min_age - average_age)
max_average_diff = abs(max_age - average_age)

# Display the results for the age-related calculations
print("Sorted Ages:", ages)
print("Min Age:", min_age)
print("Max Age:", max_age)
print("Median Age:", median_age)
print("Average Age:", average_age)
print("Age Range:", age_range)
print("Difference (Min - Average):", min_average_diff)
print("Difference (Max - Average):", max_average_diff)

# List of countries
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']

# Unpack the first three countries and the rest as scandic countries
first_three_countries, *scandic_countries = countries

# Display the results for the countries
print("\nFirst Three Countries:", first_three_countries)
print("Scandic Countries:", scandic_countries)