Exercises: Day 7
# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

Exercises: Level 1

No. 1 Find the length of the set it_companies

In [15]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

length_of_it_companies = len(it_companies)

print("Length of it_companies set:", length_of_it_companies)

Length of it_companies set: 7

No. 2 Add 'Twitter' to it_companies

In [16]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

# Adding 'Twitter' to it_companies set
it_companies.add('Twitter')

print("Updated it_companies set:", it_companies)

Updated it_companies set: {'Amazon', 'Oracle', 'IBM', 'Facebook', 'Google', 'Twitter', 'Apple', 'Microsoft'}

No. 3 Insert multiple IT companies at once to the set it_companies

In [17]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

# List of IT companies to add
new_companies = {'Twitter', 'LinkedIn', 'Intel', 'Cisco'}

# Adding multiple IT companies to it_companies set
it_companies.update(new_companies)

print("Updated it_companies set:", it_companies)

Updated it_companies set: {'Amazon', 'Cisco', 'LinkedIn', 'Oracle', 'IBM', 'Intel', 'Apple', 'Facebook', 'Google', 'Twitter', 'Microsoft'}

No. 4 Remove one of the companies from the set it_companies

In [18]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

# Removing 'Oracle' from it_companies set
it_companies.remove('Oracle')

print("Updated it_companies set:", it_companies)

Updated it_companies set: {'Amazon', 'IBM', 'Facebook', 'Google', 'Apple', 'Microsoft'}

No. 5 What is the difference between remove and discard

In [19]:
# Both remove() and discard() are methods used to remove an element from a set in Python, but there is a key difference:

#remove() method:

#Used to remove a specified element from the set. Raises a KeyError if the element is not found in the set.
#Example:

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
it_companies.remove('Oracle')


#discard() method:

# Used to remove a specified element from the set. Does not raise an error if the element is not found in the set.
#Example:

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
it_companies.discard('Oracle')

Exercise Level 2

No. 1 Join  A and B

In [20]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

result_union_method = A.union(B)

print("Union of sets A and B using union():", result_union_method)

Union of sets A and B using union(): {19, 20, 22, 24, 25, 26, 27, 28}

No. 2 Find A intersection B

In [21]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

result_intersection_method = A.intersection(B)

print("Intersection of sets A and B using intersection():", result_intersection_method)

Intersection of sets A and B using intersection(): {19, 20, 22, 24, 25, 26}

No. 3 Is A subset of B

In [22]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

is_subset_method = A.issubset(B)

print("Is A a subset of B using issubset():", is_subset_method)

Is A a subset of B using issubset(): True

No. 4 Are A and B disjoint sets

In [23]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

are_disjoint = A.isdisjoint(B)

print("Are sets A and B disjoint:", are_disjoint)

Are sets A and B disjoint: False

No. 5 Join A with B and B with A

In [24]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

# Concatenate A with B
result_concatenate_A_B = A.union(B)

# Concatenate B with A
result_concatenate_B_A = B.union(A)

print("Concatenate A with B:", result_concatenate_A_B)
print("Concatenate B with A:", result_concatenate_B_A)

Concatenate A with B: {19, 20, 22, 24, 25, 26, 27, 28}
Concatenate B with A: {19, 20, 22, 24, 25, 26, 27, 28}

No. 6 What is the symmetric difference between A and B

In [25]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

symmetric_difference_result = A.symmetric_difference(B)

print("Symmetric difference between sets A and B:", symmetric_difference_result)

Symmetric difference between sets A and B: {27, 28}

No. 7 Delete the sets completely

In [26]:
del it_companies

Exercise level 3

No. 1 Convert the ages to a set and compare the length of the list and the set, which one is bigger?

In [27]:
age = [22, 19, 24, 25, 26, 24, 25, 24]

# Convert the list to a set
age_set = set(age)

# Compare the lengths
length_of_list = len(age)
length_of_set = len(age_set)

# Print the results
print("Length of the list:", length_of_list)
print("Length of the set:", length_of_set)

# Compare which one is bigger
if length_of_list > length_of_set:
    print("The list is bigger.")
elif length_of_set > length_of_list:
    print("The set is bigger.")
else:
    print("The list and set have the same length.")

Length of the list: 8
Length of the set: 5
The list is bigger.

No. 2 Explain the difference between the following data types: string, list, tuple and set

In short:

1. **String:**
   - Immutable sequence of characters.
   - Enclosed in single (`'`) or double (`"`) quotes.

2. **List:**
   - Mutable, ordered sequence of elements.
   - Enclosed in square brackets (`[]`).

3. **Tuple:**
   - Immutable, ordered sequence of elements.
   - Enclosed in parentheses (`()`).

4. **Set:**
   - Unordered collection of unique elements.
   - Enclosed in curly braces (`{}`).

No. 3 I am a teacher and I love to inspire and teach people. How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

In [28]:
sentence = "I am a teacher and I love to inspire and teach people."

# Split the sentence into words
words = sentence.split()

# Create a set to get unique words
unique_words = set(words)

# Print the result
print("Number of unique words:", len(unique_words))
print("Unique words:", unique_words)

Number of unique words: 10
Unique words: {'and', 'love', 'people.', 'am', 'I', 'inspire', 'teach', 'to', 'teacher', 'a'}