Exercises: Day 6

Exercises: Level 1

No. 1 create an empty tuple

In [1]:
empty_tuple = ()

print(empty_tuple)

()

No. 2 Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)

In [2]:
siblings = ('Aliyu', 'Umnar', 'Ibrahim', 'Sadiya', 'Aisha')

print(siblings)

('Aliyu', 'Umnar', 'Ibrahim', 'Sadiya', 'Aisha')

No. 3 Join brothers and sisters tuples and assign it to siblings

In [3]:
brothers = ('Ibrahim', 'Umar', 'Aliyu')
sisters = ('Aisha', 'Sadiya')

siblings = brothers + sisters

print(siblings)

('Ibrahim', 'Umar', 'Aliyu', 'Aisha', 'Sadiya')

No. 4 How many siblings do you have?

In [4]:
siblings = ('Aliyu', 'Umnar', 'Ibrahim', 'Sadiya', 'Aisha')
num_of_siblings = len(siblings)

print(num_of_siblings)

5

No. 5 Modify the siblings tuple and add the name of your father and mother and assign it to family_members

In [5]:
father_and_mother = ('Muhammad', 'Maryam')  
  

family_members = siblings + father_and_mother

print(family_members)

('Aliyu', 'Umnar', 'Ibrahim', 'Sadiya', 'Aisha', 'Muhammad', 'Maryam')

Exercise Level 2

No. 1 Unpack siblings and parents from family_members

In [6]:
# Assuming family_members contains siblings, father, and mother
siblings, *parents = family_members

# Print the unpacked values
print("Siblings:", siblings)
print("Parents:", parents)

Siblings: Aliyu
Parents: ['Umnar', 'Ibrahim', 'Sadiya', 'Aisha', 'Muhammad', 'Maryam']

No. 2 Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.

In [7]:
fruits = ('apple', 'banana', 'orange')
vegetables = ('carrot', 'broccoli', 'spinach')
animal_products = ('chicken', 'beef', 'eggs')

food_stuff_tp = fruits + vegetables + animal_products

print(food_stuff_tp)

('apple', 'banana', 'orange', 'carrot', 'broccoli', 'spinach', 'chicken', 'beef', 'eggs')

No. 3 Change the about food_stuff_tp tuple to a food_stuff_lt list

In [8]:
food_stuff_lt = list(food_stuff_tp)

print(food_stuff_lt)

['apple', 'banana', 'orange', 'carrot', 'broccoli', 'spinach', 'chicken', 'beef', 'eggs']

No. 4 Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.

In [9]:
middle_index = len(food_stuff_tp) // 2
middle_items = food_stuff_tp[middle_index-1 : middle_index+1] if len(food_stuff_tp) % 2 == 0 else food_stuff_tp[middle_index : middle_index+1]

print("Middle Item(s) from food_stuff_tp:", middle_items)

Middle Item(s) from food_stuff_tp: ('broccoli',)

No. 5 Slice out the first three items and the last three items from food_staff_lt list

In [10]:
first_three_items = food_stuff_lt[:3]
last_three_items = food_stuff_lt[-3:]

print("First three items:", first_three_items)
print("Last three items:", last_three_items)

First three items: ['apple', 'banana', 'orange']
Last three items: ['chicken', 'beef', 'eggs']

No. 6 Delete the food_staff_tp tuple completely

In [11]:
del food_stuff_tp

No. 7 Check if an item exists in tuple:

Check if 'Estonia' is a nordic country

Check if 'Iceland' is a nordic country

nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')

In [12]:
nordic_countries = ('Denmark', 'Finland', 'Iceland', 'Norway', 'Sweden')

# Check if 'Estonia' is a Nordic country
estonia_is_nordic = 'Estonia' in nordic_countries
print("Is Estonia a Nordic country?", estonia_is_nordic)

# Check if 'Iceland' is a Nordic country
iceland_is_nordic = 'Iceland' in nordic_countries
print("Is Iceland a Nordic country?", iceland_is_nordic)

Is Estonia a Nordic country? False
Is Iceland a Nordic country? True